<div style="flex: 1">
  <div style="display: flex; margin: 1rem 0">
    <div
      style="
        display: flex;
        flex: 0 0 45%;
        align-items: center;
        justify-content: space-between;
      "
    >
      <input
        type="text"
        class="form-control form__input"
        style="flex: 0 0 45%"
      />
      <div class="fab __raised" title="Search">
        <i class="fas fa-arrow-right"></i>
      </div>
      <div class="fab __raised" title="Show all">
        <i class="fas fa-list"></i>
      </div>
      <div class="fab __raised" title="Clear">
        <i class="far fa-times-circle"></i>
      </div>
      <div class="fab __raised" title="Advanced Search">
        <i class="fas fa-search"></i>
      </div>
      <div class="fab __raised" title="Export">
        <i class="fas fa-file-export"></i>
      </div>
    </div>
  </div>

  <div style="display: flex; margin: 0.5rem 0">
    <app-pagination
      [perPage]="perPage"
      [page]="page"
      [perPages]="perPages"
      style="flex: 0 0 25%"
    ></app-pagination>
  </div>

  <app-table [headers]="headers">
    <tr
      class="__raised"
      *ngFor="let instruction of instructionStoreService.instructions$ | async"
      (click)="goToList(instruction)"
    >
      <td>
        {{ formatDate(instruction.date, "DD/MM/yyyy") }}
      </td>
      <td>{{ formatDate(instruction.dateTaken, "DD/MM/yyyy") }}</td>
      <td>{{ instruction.drugAllergyTo }}</td>
      <td>{{ instruction.instruction }}</td>
      <td>{{ instruction.remarks }}</td>
    </tr>
  </app-table>
</div>
