td {
  font-size: 13px;
  text-align: center;
}

.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  width: 35px;
  height: 35px;
  font-size: 14px;
}
.btn__crud {
  font-size: 12px !important;
  font-weight: bold;
  margin: 0 0.2rem;
}
