<div style="flex: 1" id="stat-medication__screen">
  <div style="display: flex; margin-top: 1rem; margin-bottom: 2rem">
    <button class="btn btn-primary btn__crud" (click)="new()">New</button>
    <button
      *ngIf="statMedicationStoreService.isUpdate$ | async"
      class="btn btn-success btn__crud"
      (click)="save()"
    >
      Update
    </button>
    <button
      *ngIf="!(statMedicationStoreService.isUpdate$ | async)"
      class="btn btn-success btn__crud"
      (click)="save()"
    >
      Save
    </button>
    <button class="btn btn-danger btn__crud" (click)="delete()">Delete</button>
    <button class="btn btn-primary btn__crud" (click)="print()">Print</button>
  </div>

  <div class="flex__row">
    <div class="p__5" style="flex: 0 0 20%">
      <label class="form__label">Date</label>
      <input
        type="datetime-local"
        step="1"
        class="form-control form__input"
        [(ngModel)]="date"
      />
    </div>
  </div>

  <div class="flex__row">
    <div
      *ngFor="let header of headers"
      class="flex-table__column"
      style="font-size: 13px"
    >
      {{ header }}
    </div>
  </div>

  <div
    class="flex-table__row"
    style="margin: 1rem 0"
    *ngFor="
      let statMedication of statMedicationStoreService.statMedications$ | async
    "
    (click)="handleRowClick($event)"
  >
    <div class="flex-table__column">
      <select
        class="form-control form__input"
        [(ngModel)]="statMedication.route"
      >
        <option
          *ngFor="let route of statMedicationStoreService.routes$ | async"
          [value]="route.value"
        >
          {{ route.text }}
        </option>
      </select>
    </div>
    <div class="flex-table__column">
      <input
        class="form-control form__input"
        [(ngModel)]="statMedication.medication"
      />
    </div>
    <div class="flex-table__column" style="justify-content: space-between">
      <input
        class="form-control form__input"
        style="text-align: right"
        [(ngModel)]="statMedication.doseCount"
      />
      <!-- <select
        class="form-control form__input"
        style="flex: 0 0 52%"
        [(ngModel)]="statMedication.doseDesc"
      >
        <option
          *ngFor="let dose of statMedicationStoreService.doses$ | async"
          [value]="dose.value"
        >
          {{ dose.text }}
        </option>
      </select> -->
    </div>
    <div class="flex-table__column">
      <input
        class="form-control form__input"
        [(ngModel)]="statMedication.prescriptionRemark"
      />
    </div>
    <div class="flex-table__column">
      <input
        type="time"
        step="1"
        class="form-control form__input"
        [(ngModel)]="statMedication.timeAdmin"
      />
    </div>
    <div class="flex-table__column" style="justify-content: space-between">
      <input
        style="flex: 0 0 47%"
        class="form-control form__input"
        [(ngModel)]="statMedication.givenBy"
      />
      <select class="form-control form__input" style="flex: 0 0 47%">
        <option
          *ngFor="let drugTask of statMedicationStoreService.drugTasks$ | async"
          [value]="drugTask.value"
        >
          {{ drugTask.text }}
        </option>
      </select>
    </div>
    <div class="flex-table__column">
      <input
        class="form-control form__input"
        [(ngModel)]="statMedication.drRemark"
      />
    </div>
    <div class="flex-table__column">
      <input
        class="form-control form__input"
        [(ngModel)]="statMedication.remark"
      />
    </div>
  </div>
</div>

<table id="stat-medication__record" style="display: none">
  <thead>
    <tr>
      <th>DATE</th>
      <th>TIME</th>
      <th>ROUTE</th>
      <th>MEDICATION</th>
      <th>DOSE</th>
      <th>DR'S SIGN</th>
      <th>TIME ADMIN</th>
      <th>GIVEN BY</th>
      <th>REMARKS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let statMedication of printData">
      <td>{{ formatDate(statMedication.confirmDate, "DD/MM/yyyy") }}</td>
      <td>{{ formatDate(statMedication.confirmDate, "h:mm:ss") }}</td>
      <td>
        {{ statMedication.routeDesc }}
      </td>
      <td>{{ statMedication.medication }}</td>
      <td>{{ statMedication.doseCount }}</td>
      <td></td>
      <td>{{ statMedication.timeAdmin }}</td>
      <td>{{ statMedication.givenBy }}</td>
      <td>{{ statMedication.remark }}</td>
    </tr>
  </tbody>
</table>
