.flex-table__column:nth-child(1) {
  flex: 0 0 10%;
}
.flex-table__column:nth-child(2) {
  flex: 0 0 20%;
}
.flex-table__column:nth-child(6) {
  flex: 0 0 15%;
}

#stat-medication__screen .form__input {
  font-size: 12px !important;
}
