<div style="width: 100%; padding: 2rem 3rem">
  <app-patient-header></app-patient-header>

  <div style="display: flex">
    <div
      class="tab__list-item"
      style="background: #3b5998"
      (click)="tabClickHandler(1)"
      id="tab1"
    >
      List
    </div>
    <div class="tab__list-item" (click)="tabClickHandler(2)" id="tab2">
      Instruction
    </div>
  </div>

  <div style="display: flex">
    <div class="card tab__body">
      <app-instruction-list
        *ngIf="(instructionStoreService.tabNo$ | async) == 1"
      ></app-instruction-list>

      <app-instruction-form
        *ngIf="(instructionStoreService.tabNo$ | async) == 2"
      ></app-instruction-form>
    </div>
  </div>
</div>

<app-delete-dialog
  *ngIf="instructionStoreService.deleteDialog$ | async"
  (onDelete)="deleteData()"
  (onCancel)="cancelDelete()"
></app-delete-dialog>

<app-patient-dialog
  *ngIf="appStoreService.patientDialog$ | async"
></app-patient-dialog>
