<button (click)="navigate(1)">instruction form</button>
<button (click)="navigate(2)">stat-medication form</button>
<button (click)="navigate(3)">nurse activity form</button>
<button (click)="navigate(4)">non-parenteral form</button>
<button (click)="navigate(5)">injection form</button>
<button (click)="navigate(6)">blood, blood products and tpn form</button>
<button (click)="navigate(7)">diet, fluid order and enteral feed form</button>
<button (click)="navigate1(1)">nurseshiftsummary form</button>
<button (click)="navigate1(2)">Nursing Care Record form</button>
<button (click)="navigate1(3)">Common Type</button>
<button (click)="navigate1(4)">Route</button>
<button (click)="navigate1(5)">Patient Type</button>
<button (click)="navigate1(6)">Room Type</button>
<button (click)="navigate1(7)">Room Rate</button>
<button (click)="navigate(8)">general ward</button>
