<div style="flex: 1">
  <div style="display: flex; margin-top: 1rem; margin-bottom: 2rem">
    <button class="btn btn-primary btn__crud" (click)="new()">New</button>
    <button
      *ngIf="nonParenteralStoreService.isUpdate$ | async"
      class="btn btn-success btn__crud"
      (click)="save()"
    >
      Update
    </button>
    <button
      *ngIf="!(nonParenteralStoreService.isUpdate$ | async)"
      class="btn btn-success btn__crud"
      (click)="save()"
    >
      Save
    </button>
    <button class="btn btn-danger btn__crud" (click)="delete()">Delete</button>
    <button class="btn btn-primary btn__crud" (click)="print()">Print</button>
  </div>

  <div class="flex__row" style="align-items: flex-end">
    <div class="p__5" style="flex: 0 0 20%">
      <label class="form__label">Date</label>
      <input
        type="datetime-local"
        step="1"
        class="form-control form__input"
        [(ngModel)]="date"
      />
    </div>

    <div class="p__5" style="flex: 0 0 30%"></div>

    <div
      class="p__5 flex__row"
      style="flex: 0 0 50%"
      *ngIf="appStoreService.isDoctorRank$ | async"
    >
      <div class="flex__row p__5">
        <input type="checkbox" class="__checkbox" [(ngModel)]="tubeFeed" />
        <div class="checkbox__label">Tube Feed</div>
      </div>
      <div class="flex__row p__5">
        <input
          type="checkbox"
          class="__checkbox"
          [(ngModel)]="liquidMedication"
        />
        <div class="checkbox__label">Liquid Medication</div>
      </div>
    </div>
  </div>

  <div class="flex__row">
    <div class="p__5" style="flex: 0 0 21.1%">
      <label class="form__label">Diagnosis</label>
      <input
        type="text"
        class="form-control form__input"
        [(ngModel)]="diagnosis"
      />
    </div>

    <div
      class="p__5"
      style="flex: 0 0 21.1%"
      *ngIf="!(appStoreService.isDoctorRank$ | async)"
    >
      <label class="form__label">Action</label>
      <select class="form-control form__input"></select>
    </div>

    <div
      style="flex: 0 0 8.9%"
      *ngIf="!(appStoreService.isDoctorRank$ | async)"
    ></div>

    <div
      style="flex: 0 0 30%"
      *ngIf="appStoreService.isDoctorRank$ | async"
    ></div>

    <div
      class="p__5"
      style="flex: 0 0 20%"
      *ngIf="appStoreService.isDoctorRank$ | async"
    >
      <label class="form__label">Date Start</label>
      <input
        type="date"
        class="form-control form__input"
        [(ngModel)]="dateStart"
      />
    </div>

    <div
      class="p__5"
      style="flex: 0 0 20%"
      *ngIf="appStoreService.isDoctorRank$ | async"
    >
      <label class="form__label">Date Off</label>
      <input
        type="date"
        class="form-control form__input"
        [(ngModel)]="dateOff"
      />
    </div>
  </div>

  <div class="flex__row">
    <div style="flex: 0 0 45%" class="p__5">
      <label class="form__label">Drug Allergy To</label>
      <div
        *ngIf="!drugAllergyTo"
        class="tag__box"
        style="justify-content: center"
      >
        <div>No Known Drug Allergy</div>
      </div>
      <div *ngIf="drugAllergyTo" class="tag__box">
        <div class="__chip" *ngFor="let allergy of drugAllergyTo.split(',')">
          {{ allergy.trim() }}
        </div>
      </div>
    </div>
  </div>

  <div class="flex__row" *ngIf="appStoreService.isDoctorRank$ | async">
    <div class="flex__row p__5">
      <input
        type="checkbox"
        class="__checkbox"
        [(ngModel)]="chronicRenalFailure"
      />
      <div class="checkbox__label">Chronic Renal failure</div>
    </div>
    <div class="flex__row p__5">
      <input type="checkbox" class="__checkbox" [(ngModel)]="pregnant" />
      <div class="checkbox__label">Pregnant</div>
    </div>
  </div>

  <div class="flex__row">
    <div
      *ngFor="let header of getHeaders()"
      class="flex-table__column"
      style="font-size: 14px"
    >
      {{ header }}
    </div>
  </div>

  <div
    class="flex-table__row"
    style="margin: 1rem 0"
    *ngFor="
      let nonParenteral of nonParenteralStoreService.nonParenterals$ | async
    "
  >
    <div class="flex-table__column">
      <select
        class="form-control form__input"
        [(ngModel)]="nonParenteral.route"
      >
        <option
          *ngFor="let route of nonParenteralStoreService.routes$ | async"
          [value]="route.value"
        >
          {{ route.text }}
        </option>
      </select>
    </div>
    <div class="flex-table__column">
      <input
        class="form-control form__input"
        [(ngModel)]="nonParenteral.medication"
      />
    </div>
    <div class="flex-table__column" style="justify-content: space-between">
      <input
        class="form-control form__input"
        style="flex: 0 0 47%; text-align: right"
        [(ngModel)]="nonParenteral.doseCount"
      />
      <select
        class="form-control form__input"
        style="flex: 0 0 47%"
        [(ngModel)]="nonParenteral.doseDesc"
      >
        <option
          *ngFor="let dose of nonParenteralStoreService.doses$ | async"
          [value]="dose.value"
        >
          {{ dose.text }}
        </option>
      </select>
    </div>
    <div class="flex-table__column">
      <input
        class="form-control form__input"
        [(ngModel)]="nonParenteral.frequency"
      />
    </div>
    <div class="flex-table__column">
      <input
        type="text"
        class="form-control form__input"
        [(ngModel)]="nonParenteral.doseDuration"
      />
    </div>
    <div
      class="flex-table__column"
      *ngIf="!(appStoreService.isDoctorRank$ | async)"
    >
      <input
        type="checkbox"
        class="__checkbox"
        [(ngModel)]="nonParenteral.nurseSign"
      />
    </div>
  </div>
</div>
