<div style="flex: 1" id="non-parenteral__form">
  <div style="display: flex; margin-top: 1rem; margin-bottom: 2rem">
    <button class="btn btn-primary btn__crud" (click)="new()">New</button>
    <button
      *ngIf="nonParenteralStoreService.isUpdate$ | async"
      class="btn btn-success btn__crud"
      (click)="save()"
    >
      Update
    </button>
    <button
      *ngIf="!(nonParenteralStoreService.isUpdate$ | async)"
      class="btn btn-success btn__crud"
      (click)="save()"
    >
      Save
    </button>
    <button class="btn btn-danger btn__crud" (click)="delete()">Delete</button>
    <button class="btn btn-primary btn__crud" (click)="print()">Print</button>
  </div>

  <div class="flex__row">
    <div class="p__5" style="flex: 0 0 20%">
      <label class="form__label">Date</label>
      <input
        type="datetime-local"
        step="1"
        class="form-control form__input"
        [(ngModel)]="date"
      />
    </div>

    <div
      class="p__5"
      style="flex: 0 0 20%"
      *ngIf="!(appStoreService.isDoctorRank$ | async)"
    >
      <label class="form__label">Action</label>
      <select class="form-control form__input" [(ngModel)]="givenByType">
        <option
          *ngFor="let drugTask of nonParenteralStoreService.drugTasks$ | async"
          [value]="drugTask.value"
        >
          {{ drugTask.text }}
        </option>
      </select>
    </div>

    <div
      class="p__5"
      *ngIf="!(appStoreService.isDoctorRank$ | async)"
      style="flex: 0 0 10%"
    ></div>

    <div
      class="p__5"
      *ngIf="appStoreService.isDoctorRank$ | async"
      style="flex: 0 0 30%"
    ></div>

    <div
      class="p__5"
      style="flex: 0 0 20%"
      *ngIf="appStoreService.isDoctorRank$ | async"
    >
      <label class="form__label">Date Start</label>
      <input
        type="date"
        class="form-control form__input"
        [(ngModel)]="dateStart"
      />
    </div>

    <div
      class="p__5"
      style="flex: 0 0 20%"
      *ngIf="appStoreService.isDoctorRank$ | async"
    >
      <label class="form__label">Date Off</label>
      <input
        type="date"
        class="form-control form__input"
        [(ngModel)]="dateOff"
      />
    </div>
  </div>

  <div class="flex__row" style="align-items: flex-end">
    <div class="p__5" style="flex: 0 0 20%">
      <label class="form__label">Diagnosis</label>
      <input
        type="text"
        class="form-control form__input"
        [(ngModel)]="diagnosis"
      />
    </div>

    <div class="p__5" style="flex: 0 0 20%">
      <label class="form__label">Drug Allergy To</label>
      <input class="form-control form__input" [(ngModel)]="drugAllergyTo" />
    </div>

    <div style="flex: 0 0 10%"></div>

    <div
      class="p__5 flex__row"
      style="flex: 0 0 50%"
      *ngIf="appStoreService.isDoctorRank$ | async"
    >
      <div class="flex__row p__5">
        <input type="checkbox" class="__checkbox" [(ngModel)]="tubeFeed" />
        <div class="checkbox__label">Tube Feed</div>
      </div>
      <div class="flex__row p__5">
        <input
          type="checkbox"
          class="__checkbox"
          [(ngModel)]="liquidMedication"
        />
        <div class="checkbox__label">Liquid Medication</div>
      </div>
      <div class="flex__row p__5">
        <input
          type="checkbox"
          class="__checkbox"
          [(ngModel)]="chronicRenalFailure"
        />
        <div class="checkbox__label">Chronic Renal failure</div>
      </div>
      <div class="flex__row p__5">
        <input type="checkbox" class="__checkbox" [(ngModel)]="pregnant" />
        <div class="checkbox__label">Pregnant</div>
      </div>
    </div>
  </div>

  <div class="flex__row">
    <div
      *ngFor="let header of getHeaders()"
      class="flex-table__column"
      style="font-size: 13px"
    >
      {{ header }}
    </div>
  </div>

  <div
    class="flex-table__row"
    style="margin: 1rem 0"
    *ngFor="
      let nonParenteral of nonParenteralStoreService.nonParenterals$ | async
    "
  >
    <div class="flex-table__column">
      <select
        class="form-control form__input"
        [(ngModel)]="nonParenteral.routeSyskey"
      >
        <option
          *ngFor="let route of nonParenteralStoreService.routes$ | async"
          [value]="route.value"
        >
          {{ route.text }}
        </option>
      </select>
    </div>
    <div class="flex-table__column">
      <input
        class="form-control form__input"
        [(ngModel)]="nonParenteral.medication"
      />
    </div>
    <div class="flex-table__column" style="justify-content: space-between">
      <input
        class="form-control form__input"
        style="text-align: right; flex: 0 0 47%"
        [(ngModel)]="nonParenteral.dose"
      />
      <select
        class="form-control form__input"
        style="flex: 0 0 47%"
        [(ngModel)]="nonParenteral.doseTypeSyskey"
      >
        <option
          *ngFor="let dose of nonParenteralStoreService.doses$ | async"
          [value]="dose.value"
        >
          {{ dose.text }}
        </option>
      </select>
    </div>
    <div class="flex-table__column">
      <input
        type="text"
        class="form-control form__input"
        [(ngModel)]="nonParenteral.remark"
      />
    </div>
    <div
      class="flex-table__column"
      *ngIf="!(appStoreService.isDoctorRank$ | async)"
    >
      <input
        style="margin: 0 0.5rem"
        *ngFor="let data of nonParenteral.checkList"
        type="checkbox"
        class="__checkbox"
        [(ngModel)]="data.done"
        (change)="toggleCheck($event, data)"
      />
    </div>
  </div>
</div>

<table id="non-parenteral__report" style="display: none">
  <thead>
    <tr>
      <th colspan="11">ALL MEDICATIONS EXCEPT PARENTERAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">DATE</td>
      <td rowspan="2">ROUTE</td>
      <td rowspan="2">MEDICATION</td>
      <td rowspan="2">DOSE</td>
      <td rowspan="2">FREQUENCY</td>
      <td rowspan="2">DR'S SIGN</td>
      <td colspan="3">DISCONTINUE/REDOSE/TRANSCRIPT</td>
      <td colspan="2">DISCHARGE MEDICATIONS</td>
    </tr>
    <tr>
      <td>DATE</td>
      <td>DR'S SIGN</td>
      <td>D/R/T/</td>
      <td></td>
      <td>DURATION</td>
    </tr>

    <tr
      *ngFor="
        let nonParenteral of nonParenteralStoreService.nonParenterals$ | async
      "
    >
      <td>{{ formatDate(date, "DD/MM/yyyy") }}</td>
      <td>{{ nonParenteral.routeDesc }}</td>
      <td>{{ nonParenteral.medication }}</td>
      <td>{{ nonParenteral.dose }}</td>
      <td>{{ nonParenteral.frequency }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
