<div
  class="list__parent"
  (click)="handleParentClick()"
  [style]="{
    background: isParentCollapse ? '#ebf5ff' : '#fff',
    color: isParentCollapse ? '#3b99ff' : 'black'
  }"
>
  {{ title }}
</div>

<div class="list__group" [id]="key">
  <div *ngFor="let item of items">
    <div class="list__item __raised" (click)="handleInnerClick(item.action)">
      {{ item.title }}
    </div>
    <div class="list__group" [id]="'inner-' + key">
      <div
        class="list__item __raised"
        *ngFor="let innerItem of item.items"
        (click)="innerItem.action()"
      >
        {{ innerItem.title }}
      </div>
    </div>
  </div>
</div>
