<div style="width: 100%; padding: 2rem 3rem">
  <app-patient-header></app-patient-header>

  <div style="display: flex">
    <div
      class="tab__list-item"
      style="background: #3b5998"
      (click)="tabClickHandler(1)"
      id="tab1"
    >
      List
    </div>
    <div class="tab__list-item" (click)="tabClickHandler(2)" id="tab2">
      Non-Parenteral
    </div>
  </div>

  <div style="display: flex">
    <div class="card tab__body" style="flex: 1">
      <app-non-parenteral-list
        *ngIf="(nonParenteralStoreService.tabNo$ | async) == 1"
      ></app-non-parenteral-list>

      <app-non-parenteral-form
        *ngIf="(nonParenteralStoreService.tabNo$ | async) == 2"
      ></app-non-parenteral-form>
    </div>
  </div>
</div>

<app-delete-dialog
  *ngIf="nonParenteralStoreService.deleteDialog$ | async"
  (onDelete)="deleteData()"
  (onCancel)="cancelDelete()"
></app-delete-dialog>

<!-- this is for dev only -->
<button
  (click)="toggleRank()"
  style="position: absolute; top: 10px; right: 10px"
>
  Toggle Rank
</button>
