<div style="flex: 1">
    <div style="display: flex; margin-top: 1rem; margin-bottom: 2rem">
        <button class="btn btn-primary btn__crud" (click)="goNew()">New</button>
        <button class="btn btn-success  btn__crud" (click)="save()">{{_obj.syskey=='' || _obj.syskey=='0'?
            'Save':'Update' }}</button>  
        <button class="btn btn-danger btn__crud" [disabled]="this._obj.syskey==''" (click)="goDelete()">Delete</button>
        <button class="btn btn-primary btn__crud" (click)="print()">Print</button>
    </div>
    <div class="flex__row">
        <div class="p__5" style="flex: 0 0 10%">
            <label class="form__label">Route :</label>
        </div>
        <div class="p__5" style="flex: 0 0 35%">
            <input type="text" class="select_control form-control" [(ngModel)]="_obj.route" name="name1"
                placeholder="Route" />
        </div>
    </div>
    <div class="flex__row">
        <div class="p__5" style="flex: 0 0 10%">
            <label class="form__label">EngDesc :</label>
        </div>
        <div class="p__5" style="flex: 0 0 35%">
            <input type="text" class="select_control form-control" [(ngModel)]="_obj.engDesc" name="name2"
            placeholder="EngDesc" />
        </div>
    </div>
    <div class="flex__row">
        <div class="p__5" style="flex: 0 0 10%">
            <label class="form__label">MyanDesc :</label>
        </div>
        <div class="p__5" style="flex: 0 0 35%">
            <input type="text" class="select_control form-control" [(ngModel)]="_obj.myanDesc" name="name2"
            placeholder="MyanDesc" />
        </div>
    </div>
    <div class="flex__row">
        <div class="p__5" style="flex: 0 0 10%">
            <label class="form__label">StockInitial :</label>
        </div>
        <div class="p__5" style="flex: 0 0 35%">
            <input type="text" class="select_control form-control" [(ngModel)]="_obj.stockInitial" name="name2"
            placeholder="StockInitial" />
        </div>
    </div>
</div>