.__title {
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.gw__card {
  padding: 1rem;
  border-radius: 25px;
  transition: all 0.2s;
  margin-bottom: 2rem;
}
.gw__card .form__input {
  font-size: 10px !important;
}

.gw__card .flex__item:nth-child(1) {
  flex: 0 0 35%;
}
.header__row {
  font-size: 13px;
  text-align: center;
}
.gw__card:hover {
  transform: scale(1.025);
}
.btn__more {
  margin: 0.5rem 0;
  font-size: 10px;
  border-radius: 25px;
}
#general-ward__report th,
td {
  border: 1px solid black;
}
#general-ward__report2 th,
td {
  border: 1px solid black;
}

.gw__row {
  padding: 1rem;
  margin: 0 0.4rem;
  border-radius: 15px;
  transition: all 0.3s;
  /* background-color: #f1f1f1; */
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.gw__row:hover {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
    0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12) !important;
}

/* .gw__header__row {
  margin: 2rem 0.4rem;
  padding: 1rem;
  text-align: center;
} */

.btn__selector {
  transition: all 0.3s;
  /* width: 100% !important; */
  font-size: 13px;
  border: 1px solid #8d8b8b !important;
}

.shift__dialog {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.shift__dialog__content {
  /* z-index: 9999 !important; */
  transition: all 0.3s;
  max-height: 80%;
  overflow-y: auto;
  min-width: 420px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}
