<div style="flex: 1">
  <div style="display: flex; margin-top: 1rem; margin-bottom: 2rem">
    <button class="btn btn-primary btn__crud" (click)="new()">New</button>
    <button
      *ngIf="generalWardStoreService.isUpdate$ | async"
      class="btn btn-success btn__crud"
      (click)="save()"
    >
      Update
    </button>
    <button
      *ngIf="!(generalWardStoreService.isUpdate$ | async)"
      class="btn btn-success btn__crud"
      (click)="save()"
    >
      Save
    </button>
    <button class="btn btn-danger btn__crud" (click)="delete()">Delete</button>
    <button class="btn btn-primary btn__crud" (click)="openPrintDialog()">
      Print
    </button>
    <div style="flex: 1"></div>
    <div *ngIf="!(generalWardStoreService.isUpdate$ | async)">
      <input
        type="date"
        [(ngModel)]="date"
        class="form-control form__input"
        (change)="handleDateChange($event)"
      />
    </div>
  </div>
  <div
    class="flex__row"
    style="flex-wrap: wrap; justify-content: space-around"
    *ngIf="!(generalWardStoreService.isUpdate$ | async)"
  >
    <div
      class="card __raised gw__card"
      *ngFor="let data of formData"
      style="flex: 0 0 96%"
    >
      <div class="__title">
        <i
          [class]="['fas', data.icon]"
          style="font-size: 2rem; margin-right: 1rem"
          *ngIf="data.icon"
        ></i>
        <span
          style="
            background-color: #eceef1;
            padding: 0.5rem 1rem;
            border-radius: 1.5rem;
          "
          >{{ data.problemName }}</span
        >
      </div>
      <div class="flex__row header__row">
        <div class="flex__item">Interventions</div>
        <div class="flex__item">Initial Date</div>
        <div class="flex__item">Nurse</div>
        <div class="flex__item">Outcome Met</div>
      </div>
      <hr />
      <div
        class="flex__row"
        *ngFor="let innerData of data.items; let innerIndex = index"
      >
        <div class="flex__item">
          <input
            [readonly]="innerData.readonly"
            *ngIf="innerData.interventions.length == 1"
            type="text"
            class="form-control form__input"
            [(ngModel)]="innerData.interventions[0]"
          />
          <select
            *ngIf="innerData.interventions.length != 1"
            class="form-control form__input"
            [(ngModel)]="innerData.selectedInterventions"
          >
            <option
              *ngFor="
                let intervention of innerData.interventions;
                let i = index
              "
              [value]="i + ''"
            >
              {{ intervention }}
            </option>
          </select>
        </div>
        <div class="flex__item">
          <input
            type="date"
            class="form-control form__input"
            [(ngModel)]="innerData.initialDate"
          />
        </div>
        <div
          class="flex__item flex__row"
          style="align-items: center; justify-content: center"
        >
          <input
            type="checkbox"
            (change)="dayHandler($event, innerData)"
            [(ngModel)]="innerData.dayNurse"
          />
          <div style="font-size: 12px; padding: 0 7px">day</div>
          <input
            type="checkbox"
            (change)="nightHandler($event, innerData)"
            [(ngModel)]="innerData.nightNurse"
          />
          <div style="font-size: 12px; padding: 0 7px">night</div>
        </div>
        <div
          class="flex__item flex__row"
          style="align-items: center; justify-content: center"
        >
          <input
            type="checkbox"
            [(ngModel)]="innerData.outcomeMet"
            (change)="outcomeHandler($event, innerData)"
          />
        </div>
      </div>
      <div class="flex__row" style="justify-content: center">
        <button
          (click)="addRow(data.items)"
          class="btn btn-outline-secondary btn__more"
        >
          Add More
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="generalWardStoreService.isUpdate$ | async">
    <div class="flex__row" style="align-items: flex-end">
      <div class="p__5">
        <div class="form__label">Intervention</div>
        <input
          readonly="true"
          type="text"
          [(ngModel)]="updateForm.intervention"
          class="form-control form__input"
        />
      </div>
      <div class="p__5">
        <div class="form__label">Initial Date</div>
        <input
          type="date"
          [(ngModel)]="updateForm.initialDate"
          class="form-control form__input"
        />
      </div>
    </div>
    <div class="flex__row">
      <div class="p__5 flex__row" style="align-items: center">
        <input
          type="checkbox"
          [(ngModel)]="updateForm.outcomeMet"
          (change)="outcomeHandler($event, updateForm)"
        />
        <div style="font-size: 12px; padding-left: 0.5rem">Outcome met</div>
      </div>
      <div class="p__5 flex__row" style="align-items: center">
        <input
          type="checkbox"
          [(ngModel)]="updateForm.dayNurse"
          (change)="dayHandler($event, updateForm)"
        />
        <div style="font-size: 12px; padding-left: 0.5rem">Day Nurse</div>
      </div>
      <div class="p__5 flex__row" style="align-items: center">
        <input
          type="checkbox"
          [(ngModel)]="updateForm.nightNurse"
          (change)="nightHandler($event, updateForm)"
        />
        <div style="font-size: 12px; padding-left: 0.5rem">Night Nurse</div>
      </div>
    </div>
  </div>
</div>

<table id="general-ward__report" style="display: none">
  <tbody>
    <tr>
      <td>GOAL FOR PROBLEM(S) IDENTIFIED</td>
      <td>INTERVENTION(S)</td>
      <td></td>
      <td>DATE OF INITIATION</td>
    </tr>
    <tr
      *ngFor="
        let item of generalWardStoreService.printData$ | async;
        let i = index
      "
    >
      <td>{{ item.problemName }}</td>
      <td>{{ item.headerDesc }}</td>
      <td>{{ i + 1 }}</td>
      <td>{{ item.initialDate }}</td>
    </tr>
  </tbody>
</table>

<table id="general-ward__report2" style="display: none">
  <tbody>
    <tr>
      <td colspan="2">DATE</td>
      <td
        *ngFor="let date of generalWardStoreService.printDates$ | async"
        colspan="2"
      >
        {{ date }}
      </td>
      <td colspan="4" rowspan="2">OUTCOME MET</td>
    </tr>
    <tr>
      <td colspan="2">SIGN</td>
    </tr>
    <tr>
      <td colspan="2">SHIFT</td>
      <td>D</td>
      <td>N</td>
      <td>D</td>
      <td>N</td>
      <td>D</td>
      <td>N</td>
      <td>D</td>
      <td>N</td>
      <td>D</td>
      <td>N</td>
      <td>D</td>
      <td>N</td>
      <td>D</td>
      <td>N</td>
      <td>D</td>
      <td>N</td>
      <td colspan="2">Date</td>
      <td colspan="2">Sign</td>
    </tr>
    <tr
      *ngFor="
        let item of generalWardStoreService.printData$ | async;
        let i = index
      "
    >
      <td colspan="2">{{ i + 1 }}</td>
      <td *ngFor="let check of item.checkList">
        {{ check ? "C" : "" }}
      </td>
      <td colspan="2">
        {{
          item.outcomeMetAt ? formatDate(item.outcomeMetAt, "DD/MM/yyyy") : ""
        }}
      </td>
      <td colspan="2"></td>
    </tr>
  </tbody>
</table>
