<div style="flex: 1">
  <div style="display: flex; margin-top: 1rem; margin-bottom: 2rem">
    <button class="btn btn-primary btn__crud" (click)="new()">New</button>
    <button
      *ngIf="generalWardStoreService.isUpdate$ | async"
      class="btn btn-success btn__crud"
      (click)="save()"
    >
      Update
    </button>
    <button
      *ngIf="!(generalWardStoreService.isUpdate$ | async)"
      class="btn btn-success btn__crud"
      (click)="save()"
    >
      Save
    </button>
    <button class="btn btn-danger btn__crud" (click)="delete()">Delete</button>
    <button class="btn btn-primary btn__crud" (click)="openPrintDialog()">
      Print
    </button>
    <div style="flex: 1"></div>
  </div>

  <div
    *ngFor="let item of items; index as i"
    class="row gw__row my-4"
    style="align-items: flex-end"
  >
    <div class="col-xl-3">
      <span class="form__label">Goal For Problems</span>
      <select
        [disabled]="item.readonly"
        class="form__input form-control"
        [(ngModel)]="item.goal"
        (change)="onGoalChanged($event, item)"
      >
        <option *ngFor="let goal of goals" [value]="goal.value">
          {{ goal.text }}
        </option>
      </select>
    </div>
    <div class="col-xl-3">
      <span class="form__label">Interventions</span>
      <select
        [disabled]="item.readonly"
        class="form__input form-control"
        [(ngModel)]="item.intervention"
        (change)="onInterventionChanged($event, item)"
      >
        <option
          *ngFor="let inter of item.interventionOptions"
          [value]="inter.value"
        >
          {{ inter.text }}
        </option>
      </select>
    </div>
    <div class="col-xl-2">
      <span class="form__label">Initial Date</span>
      <input
        [readonly]="item.readonly"
        type="date"
        class="form-control form__input"
        [(ngModel)]="item.initDate"
        (change)="onInitDateChanged($event, item)"
      />
    </div>
    <div
      class="col-xl-4"
      style="display: flex; align-items: center; justify-content: space-around"
    >
      <button
        [disabled]="!item.initDate ? true : false"
        class="btn btn__selector"
        (click)="openDialog(item)"
      >
        Nurse Shifts
      </button>
      <button
        class="btn btn__selector"
        (click)="toggleBtn('outcomeMet', item)"
        [style]="
          item.outcomeMet
            ? {
                color: '#fff',
                backgroundColor: '#28A745',
                border: '1px solid #28A745 !important'
              }
            : {}
        "
      >
        Outcome Met
      </button>
      <app-icon-button
        *ngIf="!(generalWardStoreService.isUpdate$ | async)"
        (click)="addRow()"
      >
        <i class="fa fa-plus" aria-hidden="true" style="font-size: 11px"></i>
      </app-icon-button>
      <app-icon-button
        color="red"
        *ngIf="!(generalWardStoreService.isUpdate$ | async)"
        (click)="removeRow(item)"
      >
        <i
          class="fa fa-minus"
          aria-hidden="true"
          style="font-size: 11px; color: white"
        ></i>
      </app-icon-button>
    </div>
  </div>

  <div class="shift__dialog" *ngIf="dialog" (click)="closeDialog($event)">
    <div class="shift__dialog__content" (click)="stopPropagate($event)">
      <div
        *ngFor="let shift of shifts"
        class="row my-3"
        style="justify-content: center; align-items: center"
      >
        <div class="col-xl-7">
          <input
            [readonly]="true"
            type="date"
            class="form-control form__input"
            [(ngModel)]="shift.date"
          />
        </div>
        <div
          class="col-xl-5"
          style="justify-content: space-around; display: flex"
        >
          <button
            class="btn btn__selector"
            (click)="toggleBtn('day', shift)"
            [style]="
              shift.day
                ? {
                    color: '#fff',
                    backgroundColor: '#28A745',
                    border: '1px solid #28A745 !important'
                  }
                : {}
            "
          >
            Day
          </button>
          <button
            class="btn btn__selector"
            (click)="toggleBtn('night', shift)"
            [style]="
              shift.night
                ? {
                    color: '#fff',
                    backgroundColor: '#28A745',
                    border: '1px solid #28A745 !important'
                  }
                : {}
            "
          >
            Night
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<table id="general-ward__report" style="display: none">
  <tbody>
    <tr>
      <td>GOAL FOR PROBLEM(S) IDENTIFIED</td>
      <td>INTERVENTION(S)</td>
      <td></td>
      <td>DATE OF INITIATION</td>
    </tr>
    <tr
      *ngFor="
        let item of generalWardStoreService.printData$ | async;
        index as i
      "
    >
      <td>{{ Type[item.goal].problemName }}</td>
      <td>{{ item.interDesc }}</td>
      <td>{{ i + 1 }}</td>
      <td>{{ formatDate(item.initDate, "DD/MM/yyyy") }}</td>
    </tr>
  </tbody>
</table>

<table id="general-ward__report2" style="display: none">
  <tbody>
    <tr>
      <td colspan="2">DATE</td>
      <td
        *ngFor="let date of generalWardStoreService.printDates$ | async"
        colspan="2"
      >
        {{ formatDate(date, "DD/MM/yyyy") }}
      </td>
      <td colspan="4" rowspan="2">OUTCOME MET</td>
    </tr>
    <tr>
      <td colspan="2">SIGN</td>
    </tr>
    <tr>
      <td colspan="2">SHIFT</td>
      <td>D</td>
      <td>N</td>
      <td>D</td>
      <td>N</td>
      <td>D</td>
      <td>N</td>
      <td>D</td>
      <td>N</td>
      <td>D</td>
      <td>N</td>
      <td>D</td>
      <td>N</td>
      <td>D</td>
      <td>N</td>
      <td>D</td>
      <td>N</td>
      <td colspan="2">Date</td>
      <td colspan="2">Sign</td>
    </tr>
    <tr
      *ngFor="
        let item of generalWardStoreService.printData$ | async;
        let i = index
      "
    >
      <td colspan="2">{{ i + 1 }}</td>
      <td *ngFor="let ok of item.printShifts">
        {{ ok ? "T" : "" }}
      </td>
      <td colspan="2">
        {{ formatDate(item.outcomeMetAt, "DD/MM/yyyy") }}
      </td>
      <td colspan="2">{{ item.outcomeMet ? "T" : "" }}</td>
    </tr>
  </tbody>
</table>
