<div style="flex: 1" id="blood__form">
  <div style="display: flex; margin-top: 1rem; margin-bottom: 2rem">
    <button class="btn btn-primary btn__crud" (click)="new()">New</button>
    <button
      *ngIf="bloodStoreService.isUpdate$ | async"
      class="btn btn-success btn__crud"
      (click)="save()"
    >
      Update
    </button>
    <button
      *ngIf="!(bloodStoreService.isUpdate$ | async)"
      class="btn btn-success btn__crud"
      (click)="save()"
    >
      Save
    </button>
    <button class="btn btn-danger btn__crud" (click)="delete()">Delete</button>
    <button class="btn btn-primary btn__crud" (click)="print()">Print</button>
  </div>

  <div class="flex__row">
    <div class="p__5" style="flex: 0 0 20%">
      <label class="form__label">Date</label>
      <input
        type="datetime-local"
        step="1"
        class="form-control form__input"
        [(ngModel)]="date"
      />
    </div>

    <div
      class="p__5"
      style="flex: 0 0 20%"
      *ngIf="!(appStoreService.isDoctorRank$ | async)"
    >
      <label class="form__label">Action</label>
      <select class="form-control form__input"></select>
    </div>
  </div>

  <div class="flex__row">
    <div
      *ngFor="let header of getHeaders()"
      class="flex-table__column"
      style="font-size: 14px"
    >
      {{ header }}
    </div>
  </div>

  <div
    class="flex-table__row"
    style="margin: 1rem 0; align-items: center"
    *ngFor="let injection of bloodStoreService.bloods$ | async"
  >
    <div class="flex-table__column">
      <app-icon-button (click)="addRow()">
        <i class="fa fa-plus" aria-hidden="true" style="font-size: 11px"></i>
      </app-icon-button>
    </div>

    <div class="flex-table__column">
      <select
        class="form-control form__input"
        [(ngModel)]="injection.routeSyskey"
      >
        <option
          *ngFor="let route of bloodStoreService.routes$ | async"
          [value]="route.value"
        >
          {{ route.text }}
        </option>
      </select>
    </div>
    <div class="flex-table__column">
      <input
        class="form-control form__input"
        [(ngModel)]="injection.medication"
      />
    </div>
    <div class="flex-table__column" style="justify-content: space-between">
      <input
        class="form-control form__input"
        style="text-align: right; flex: 0 0 47%"
        [(ngModel)]="injection.dose"
      />
      <select
        class="form-control form__input"
        style="flex: 0 0 47%"
        [(ngModel)]="injection.doseTypeSyskey"
      >
        <option
          *ngFor="let dose of bloodStoreService.doses$ | async"
          [value]="dose.value"
        >
          {{ dose.text }}
        </option>
      </select>
    </div>
    <div class="flex-table__column">
      <input
        type="text"
        class="form-control form__input"
        [(ngModel)]="injection.remark"
      />
    </div>
    <div
      class="flex-table__column"
      *ngIf="!(appStoreService.isDoctorRank$ | async)"
      style="justify-content: flex-start"
    >
      <input
        style="margin: 0 0.5rem"
        *ngFor="let data of injection.checkList"
        type="checkbox"
        class="__checkbox"
        [(ngModel)]="data.done"
        (change)="toggleCheck($event, data)"
      />
    </div>
    <div class="flex-table__column">
      <app-icon-button (click)="removeRow(injection.key)">
        <i class="fas fa-minus" style="font-size: 11px"></i>
      </app-icon-button>
    </div>
  </div>
</div>
