<div style="flex: 1" id="blood__form">
  <div style="display: flex; margin-top: 1rem; margin-bottom: 2rem">
    <button class="btn btn-primary btn__crud" (click)="new()">New</button>
    <button
      *ngIf="bloodStoreService.isUpdate$ | async"
      class="btn btn-success btn__crud"
      (click)="save()"
    >
      Update
    </button>
    <button
      *ngIf="!(bloodStoreService.isUpdate$ | async)"
      class="btn btn-success btn__crud"
      (click)="save()"
    >
      Save
    </button>
    <button class="btn btn-danger btn__crud" (click)="delete()">Delete</button>
    <button class="btn btn-primary btn__crud" (click)="print()">Print</button>
  </div>

  <div class="flex__row">
    <div class="p__5" style="flex: 0 0 10%">
      <label class="form__label">Date</label>
      <input type="date" class="form-control form__input" [(ngModel)]="date" />
    </div>
    <div class="p__5" style="flex: 0 0 10%">
      <label class="form__label">Time</label>
      <input type="time" class="form-control form__input" [(ngModel)]="time" />
    </div>

    <div
      class="p__5"
      style="flex: 0 0 20%"
      *ngIf="!(appStoreService.isDoctorRank$ | async)"
    >
      <label class="form__label">Action</label>
      <select class="form-control form__input" [(ngModel)]="givenByType">
        <option
          *ngFor="let drugTask of bloodStoreService.drugTasks$ | async"
          [value]="drugTask.value"
        >
          {{ drugTask.text }}
        </option>
      </select>
    </div>
  </div>

  <div class="flex__row">
    <div
      *ngFor="let header of getHeaders()"
      class="flex-table__column"
      style="font-size: 14px"
    >
      {{ header }}
    </div>
  </div>

  <div
    class="flex-table__row"
    style="margin: 1rem 0; align-items: center"
    *ngFor="let injection of bloods"
  >
    <div class="flex-table__column">
      <app-icon-button (click)="addRow()">
        <i class="fa fa-plus" aria-hidden="true" style="font-size: 11px"></i>
      </app-icon-button>
    </div>

    <div class="flex-table__column">
      <select
        class="form-control form__input"
        [(ngModel)]="injection.routeSyskey"
      >
        <option
          *ngFor="let route of bloodStoreService.routes$ | async"
          [value]="route.value"
        >
          {{ route.text }}
        </option>
      </select>
    </div>
    <div class="flex-table__column">
      <input
        class="form-control form__input"
        [(ngModel)]="injection.medication"
      />
    </div>
    <div class="flex-table__column" style="justify-content: space-between">
      <input
        class="form-control form__input"
        style="text-align: right; flex: 0 0 47%"
        [(ngModel)]="injection.dose"
      />
      <select
        class="form-control form__input"
        style="flex: 0 0 47%"
        [(ngModel)]="injection.doseTypeSyskey"
        (change)="onDoseChange($event, injection)"
      >
        <option
          *ngFor="let dose of bloodStoreService.doses$ | async"
          [value]="dose.value"
        >
          {{ dose.text }}
        </option>
      </select>
    </div>
    <div class="flex-table__column">
      <input
        type="text"
        class="form-control form__input"
        [(ngModel)]="injection.remark"
      />
    </div>
    <div
      class="flex-table__column"
      *ngIf="!(appStoreService.isDoctorRank$ | async)"
      style="justify-content: flex-start"
    >
      <input
        style="margin: 0 0.5rem"
        *ngFor="let data of injection.checkList"
        type="checkbox"
        class="__checkbox"
        [(ngModel)]="data.done"
        (change)="toggleCheck($event, data)"
      />
    </div>
    <div class="flex-table__column">
      <app-icon-button (click)="removeRow(injection.key)">
        <i class="fas fa-minus" style="font-size: 11px"></i>
      </app-icon-button>
    </div>
  </div>
</div>

<table id="blood-doctor__report" style="display: none">
  <thead>
    <tr>
      <th colspan="11">BlOOD, BLOOD PRODUCTS AND TPN</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">DATE</td>
      <td rowspan="2">ROUTE</td>
      <td rowspan="2">MEDICATION</td>
      <td rowspan="2">DOSE</td>
      <td rowspan="2">FREQUENCY</td>
      <td rowspan="2">DR'S SIGN</td>
      <td colspan="3">DISCONTINUE/REDOSE/TRANSCRIPT</td>
      <td colspan="2">DISCHARGE MEDICATIONS</td>
    </tr>
    <tr>
      <td>DATE</td>
      <td>DR'S SIGN</td>
      <td>D/R/T/</td>
      <td></td>
      <td>DURATION</td>
    </tr>

    <tr *ngFor="let nonParenteral of bloodStoreService.bloods$ | async">
      <td>
        {{
          formatDate(
            appStoreService.isDoctorRank
              ? nonParenteral.moConfirmDate
              : nonParenteral.nurseConfirmDate,
            "DD/MM/yyyy"
          )
        }}
      </td>
      <td>{{ nonParenteral.routeDesc }}</td>
      <td>{{ nonParenteral.medication }}</td>
      <td>{{ nonParenteral.dose }}</td>
      <td>{{ nonParenteral.frequency }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<table id="blood-nurse__report" style="display: none">
  <thead>
    <tr>
      <th colspan="32">ALL MEDICATIONS EXCEPT PARENTERAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="8">DATE</td>
      <td colspan="8">DATE</td>
      <td colspan="8">DATE</td>
      <td colspan="8">DATE</td>
    </tr>
    <tr>
      <td></td>
      <td>6</td>
      <td>10</td>
      <td>12</td>
      <td>2</td>
      <td>6</td>
      <td>10</td>
      <td>12</td>

      <td></td>
      <td>6</td>
      <td>10</td>
      <td>12</td>
      <td>2</td>
      <td>6</td>
      <td>10</td>
      <td>12</td>

      <td></td>
      <td>6</td>
      <td>10</td>
      <td>12</td>
      <td>2</td>
      <td>6</td>
      <td>10</td>
      <td>12</td>

      <td></td>
      <td>6</td>
      <td>10</td>
      <td>12</td>
      <td>2</td>
      <td>6</td>
      <td>10</td>
      <td>12</td>
    </tr>
    <tr>
      <td></td>
      <td>am</td>
      <td>am</td>
      <td>pm</td>
      <td>pm</td>
      <td>pm</td>
      <td>pm</td>
      <td>am</td>

      <td></td>
      <td>am</td>
      <td>am</td>
      <td>pm</td>
      <td>pm</td>
      <td>pm</td>
      <td>pm</td>
      <td>am</td>

      <td></td>
      <td>am</td>
      <td>am</td>
      <td>pm</td>
      <td>pm</td>
      <td>pm</td>
      <td>pm</td>
      <td>am</td>

      <td></td>
      <td>am</td>
      <td>am</td>
      <td>pm</td>
      <td>pm</td>
      <td>pm</td>
      <td>pm</td>
      <td>am</td>
    </tr>
    <tr
      *ngFor="
        let item of [
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          10,
          11,
          12,
          13,
          14,
          15,
          16,
          17,
          18,
          19,
          20
        ]
      "
    >
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="8">Checked by:</td>
      <td colspan="8">Checked by:</td>
      <td colspan="8">Checked by:</td>
      <td colspan="8">Checked by:</td>
    </tr>
    <tr>
      <td colspan="4">(Day)</td>
      <td colspan="4">(Night)</td>
      <td colspan="4">(Day)</td>
      <td colspan="4">(Night)</td>
      <td colspan="4">(Day)</td>
      <td colspan="4">(Night)</td>
      <td colspan="4">(Day)</td>
      <td colspan="4">(Night)</td>
    </tr>
  </tbody>
</table>
