<div style="flex: 1">
  <div style="display: flex; margin: 1rem 0">
    <div
      style="
        display: flex;
        flex: 0 0 40%;
        align-items: center;
        justify-content: space-between;
      "
    >
      <input
        [(ngModel)]="search"
        type="text"
        class="form-control form__input"
        style="flex: 0 0 45%"
      />
      <div class="__fab __raised" title="Search" (click)="normalSearch()">
        <i class="fas fa-arrow-right"></i>
      </div>
      <div class="__fab __raised" title="Show all" (click)="showAll()">
        <i class="fas fa-list"></i>
      </div>
      <div class="__fab __raised" title="Clear" (click)="clearSearch()">
        <i class="fas fa-times"></i>
      </div>
      <div
        class="__fab __raised"
        title="Advanced Search"
        (click)="openAdvSearch()"
      >
        <i class="fas fa-search"></i>
      </div>
      <div class="__fab __raised" title="Export">
        <i class="fas fa-file-export"></i>
      </div>
    </div>
  </div>

  <div *ngIf="open">
    <app-advance-search
      [fields]="fields"
      (onAdvanceSearch)="advanceSearch($event)"
      (onCloseFilter)="closeFilter()"
    ></app-advance-search>
  </div>

  <div style="display: flex; margin: 0.5rem 0">
    <app-pagination
      [total]="total"
      [perPage]="perPage"
      [start]="start - 1"
      [end]="end"
      [perPages]="perPages"
      style="flex: 0 0 25%"
      (onPerPageChanged)="handlePerPageChanged($event)"
      (onNext)="handleSkip(1)"
      (onPrev)="handleSkip(2)"
      (onSkipFirst)="handleSkip(3)"
      (onSkipLast)="handleSkip(4)"
    ></app-pagination>
  </div>

  <app-table [headers]="headers">
    <tr
      class="__raised"
      *ngFor="
        let gw of generalWardStoreService.generalWards$ | async;
        index as i
      "
      (click)="expandRow($event, gw, i)"
    >
      <td>{{ gw.patientId }}</td>
      <td>{{ gw.adNo }}</td>
      <td>{{ gw.patientName }}</td>
      <td>
        {{ getInterDesc(gw) }}
      </td>
      <td>{{ Type[gw.goal].problemName }}</td>
      <td>
        {{ convertTzToDate(gw.initDate) }}
      </td>
      <td *ngIf="gw.outcomeMet"><i class="fas fa-check"></i></td>
      <td *ngIf="!gw.outcomeMet"><i class="fas fa-times"></i></td>
      <td>{{ formatDate(gw.outcomeMetAt, "MMMM Do YYYY, h:mm:ss a") }}</td>
      <td>
        <i
          class="fas fa-pencil-alt icon__link"
          (click)="goToList($event, gw)"
        ></i>
        <i
          class="fas fa-angle-right icon__link"
          [style]="{
            'font-size': '16px',
            transform: gw.expand ? 'rotate(90deg)' : 'rotate(0)'
          }"
        ></i>
      </td>
    </tr>
  </app-table>
</div>

<div style="display: none" id="innerTable">
  <td colspan="9" style="padding: 0">
    <app-table [headers]="innerHeaders">
      <tr *ngFor="let shift of shifts">
        <td *ngIf="shift.day"><i class="fas fa-check"></i></td>
        <td *ngIf="!shift.day"><i class="fas fa-times"></i></td>
        <td>{{ shift.dayName }}</td>
        <td>{{ formatDate(shift.dayAt, "MMMM Do YYYY, h:mm:ss a") }}</td>
        <td *ngIf="shift.night"><i class="fas fa-check"></i></td>
        <td *ngIf="!shift.night"><i class="fas fa-times"></i></td>
        <td>{{ shift.nightName }}</td>
        <td>{{ formatDate(shift.nightAt, "MMMM Do YYYY, h:mm:ss a") }}</td>
      </tr>
    </app-table>
  </td>
</div>
