<nav class="navbar navbar-light bg-light __navbar __raised fixed-top">
  <div class="flex__row" style="align-items: center; flex: 0 0 30%">
    <a class="navbar-brand" href="#">IThis</a>
    <input type="text" class="form-control form__input" />
  </div>
  <div
    class="flex__row"
    style="align-items: center; justify-content: space-around; flex: 0 0 30%"
  >
    <div>MIT Administrator @ Hospital</div>
    <i class="fas fa-cog"></i>
    <button class="btn btn-outline-secondary">Sign out</button>
  </div>
</nav>
