<div style="flex: 1">
  <div style="display: flex; margin: 1rem 0">
    <div
      style="
        display: flex;
        flex: 0 0 40%;
        align-items: center;
        justify-content: space-between;
      "
    >
      <input
        [(ngModel)]="search"
        type="text"
        class="form-control form__input"
        style="flex: 0 0 45%"
      />
      <div class="__fab __raised" title="Search" (click)="normalSearch()">
        <i class="fas fa-arrow-right"></i>
      </div>
      <div class="__fab __raised" title="Show all" (click)="showAll()">
        <i class="fas fa-list"></i>
      </div>
      <div class="__fab __raised" title="Clear" (click)="clearSearch()">
        <i class="fas fa-times"></i>
      </div>
      <div
        class="__fab __raised"
        title="Advanced Search"
        (click)="openAdvSearch()"
      >
        <i class="fas fa-search"></i>
      </div>
      <div class="__fab __raised" title="Export">
        <i class="fas fa-file-export"></i>
      </div>
    </div>
  </div>

  <div *ngIf="open">
    <app-advance-search
      [fields]="fields"
      (onAdvanceSearch)="advanceSearch($event)"
      (onCloseFilter)="closeFilter()"
    ></app-advance-search>
  </div>

  <div style="display: flex; margin: 0.5rem 0">
    <app-pagination
      [total]="total"
      [perPage]="perPage"
      [start]="start - 1"
      [end]="end"
      [perPages]="perPages"
      style="flex: 0 0 25%"
      (onPerPageChanged)="handlePerPageChanged($event)"
      (onNext)="handleSkip(1)"
      (onPrev)="handleSkip(2)"
      (onSkipFirst)="handleSkip(3)"
      (onSkipLast)="handleSkip(4)"
    ></app-pagination>
  </div>

  <app-table [headers]="headers">
    <tr
      class="__raised"
      *ngFor="let nonParenteral of injectionStoreService.injections$ | async"
      (click)="goToList(nonParenteral)"
    >
      <td>{{ nonParenteral.patientId }}</td>
      <td>{{ nonParenteral.adNo }}</td>
      <td>{{ nonParenteral.patientName }}</td>
      <td>
        {{ nonParenteral.routeDesc }}
      </td>
      <td>{{ nonParenteral.medication }}</td>
      <td>{{ nonParenteral.dose }}</td>
      <td>{{ nonParenteral.doseTypeDesc }}</td>
      <td>{{ nonParenteral.remark }}</td>
      <td>{{ nonParenteral.frequency }}</td>
    </tr>
  </app-table>
</div>
