/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

* {
  font-family: "Poppins";
  color: #363844;
}

.__raised {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.flex__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex__item {
  padding: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.p__5 {
  padding: 0.5rem;
}

.form__label {
  font-size: 13px;
}

.form__input {
  font-size: 14px !important;
  border-radius: 10px !important;
  min-width: 0 !important;
}

.tab__list-item {
  font-size: 12px;
  color: #fff;
  background: #8c9899;
  margin: 0 0.2rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tab__body {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -ms-flex-preferred-size: 1080px;
      flex-basis: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  padding-bottom: 4rem;
  border-radius: 7px !important;
}

.flex-table__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-table__row {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.2rem 0;
  display: flex !important;
  border-radius: 7px;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.flex-table__row:hover {
  -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12) !important;
}

.btn__crud {
  font-size: 12px !important;
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
  font-weight: bold !important;
  margin: 0 0.2rem;
}

.__fab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #fff;
  width: 35px;
  height: 35px;
  font-size: 14px;
}

.btn {
  -webkit-transition: all 0.3s !important;
  transition: all 0.3s !important;
}

.btn:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.__checkbox {
  width: 18px;
  height: 18px;
}

router-outlet + * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.__table {
  border-radius: 10px !important;
  height: 100%;
  margin: 0 !important;
  color: #6b6f78 !important;
}

.__table th,
.__table td {
  border: 1px solid #e9eaea !important;
}

.__table td {
  font-size: 13px;
  text-align: center;
}

.__table tr {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.__table tr:hover {
  background-color: #f4f4f7;
}
/*# sourceMappingURL=styles.css.map */